.lyrics {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Rockwell", serif;
}

.header {
  background-color: #d8c7eb;
  display: flex;
  width: 96%;
  
  padding: 2%;
  justify-content: center;
  text-align: center;
  font-family: "Rockwell", serif;
  font-size: 150%;
}

.enter {
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
}

.centerError {
  text-align: center;
}

legend {
  font-weight: bold;
}

.title {
  text-align: center;
  padding: 10%;
}

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #e0d6ec;
  color: #fff;
  width: 100%;
  

}

.footer {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 1%;
  padding-bottom: 2%;
  text-decoration: none;
}

.footer a {
  color: rgb(0, 0, 0);
}

p {
  text-align: center;
  white-space: pre-line;
}

.container {
  min-height:calc(100vh - 126.54px);
}

body {
  height: 100vh;
}
